<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">
	<bean id="memcachePool" class="com.danga.MemCached.SockIOPool"
		factory-method="getInstance" init-method="initialize"
		destroy-method="shutDown">
		<constructor-arg>
			<value>memcachePool</value>
		</constructor-arg>
		<property name="servers">
			<list>
				<value>192.168.149.128:11211</value>
				<value>192.168.149.128:11212</value>
			</list>
		</property>
		<property name="weights">
			<list>
				<value>1</value>
				<value>1</value>
			</list>
		</property>
		<property name="initConn">
			<value>10</value>
		</property>
		<property name="minConn">
			<value>5</value>
		</property>
		<property name="maxConn">
			<value>50</value>
		</property>
		<property name="maintSleep">
			<value>300</value>
		</property>
		<property name="socketTO">
			<value>2000</value>
		</property>
		<property name="hashingAlg">
			<value>2</value>
		</property>
	</bean>
	<bean id="memcacheClient" class="com.danga.MemCached.MemCachedClient">
		<property name="compressEnable">
			<value>false</value>
		</property>
		<constructor-arg>
			<value>memcachePool</value>
		</constructor-arg>

	</bean>
</beans>
